<div class="header">
    <h2>Adminitrative Panel</h2>
</div>

<div class="my-container">
    <%= link_to 'New Group', new_admin_path, :class => "new-group waves-effect waves-light btn" %>

    <div class="card">
    <ul id="db-tabs" class="tabs">
        <li class="tab col s3"><a class="tab-text active" href="#activegroups">Active Groups</a></li>
        <li class="tab col s3"><a class="tab-text" href="#submittedgroups">Submitted Groups</a></li>
    </ul>
    <div id="activegroups" class="col s12">
        <table class="bordered highlight">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Lat</th>
                    <th>Long</th>
                    <th>Members</th>
                    <th>FB Group</th>
                    <th>FB Page</th>
                    <th>Website</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
            <% @groups.each do |group| %>
            <tr <%= if group.fb_group != nil && !group.fb_page && !group.website && (!group.centroid_lon || !group.centroid_lat || !group.members); "class=red-out"; end %>>
                <td class="name-td"><%= group.name %></td>
                <td><%= group.centroid_lat %></td>
                <td><%= group.centroid_lon %></td>
                <td style="text-align: center;"><%= group.members %></td>
                <td class="link-td"><a target="_blank" href="<%= group.fb_group %>"><%= group.fb_group.nil? ? '' : group.fb_group.gsub("https://www.facebook.com/groups", "") %></a></td>
                <td class="link-td"><a target="_blank" href="<%= group.fb_page %>"><%= group.fb_page.nil? ? '' : group.fb_page.gsub("https://www.facebook.com/", "") %></a></td>
                <td class="link-td"><a target="_blank" href="<%= group.website %>"><%= group.website %></a></td>
                <td><%= link_to 'Show', admin_path(group) %></td>
                <td><%= link_to 'Edit', edit_admin_path(group) %></td>
                <td><%= link_to 'Delete', admin_path(group),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
            </tbody>
        </table>
    </div>
    <div id="submittedgroups" class="col s12">Test 2</div>
    </div>
</div>
