<div class="header">
    <h2>Adminitrative Panel</h2>
</div>

<div class="my-container">
    <%= link_to 'New Active Group', new_admin_path, :class => "new-group waves-effect waves-light btn" %>

    <div class="card">
    <ul id="db-tabs" class="tabs">
        <li class="tab col s3"><a class="tab-text active" href="#activegroups">Active Groups</a></li>
        <li class="tab col s3"><a class="tab-text" href="#submittedgroups">Submitted Groups</a></li>
    </ul>
    <div id="activegroups" class="col s12">
        <table class="bordered highlight" id="curated-groups-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>FB Group</th>
                    <th>FB Page</th>
                    <th>Website</th>
                    <th class="number-td">Lat</th>
                    <th class="number-td">Long</th>
                    <th class="number-td">Members</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            <% @groups.each do |group| %>
            <tr <%= if group.fb_group != nil && !group.fb_page && !group.website && (!group.centroid_lon || !group.centroid_lat || !group.members); "class=red-out"; end %>>
                <td class="name-td"><%= group.name %></td>
                <td class="link-td"><a target="_blank" href="<%= group.fb_group %>"><%= group.fb_group.nil? ? '' : group.fb_group.gsub("https://www.facebook.com/groups", "") %></a></td>
                <td class="link-td"><a target="_blank" href="<%= group.fb_page %>"><%= group.fb_page.nil? ? '' : group.fb_page.gsub("https://www.facebook.com/", "") %></a></td>
                <td class="link-td"><a target="_blank" href="<%= group.website %>"><%= group.website %></a></td>
                <td class="cord-td"><%= "%.3f" % (group.centroid_lat.nil? ? 0 : group.centroid_lat) %></td>
                <td class="cord-td"><%= "%.3f" % (group.centroid_lon.nil? ? 0 : group.centroid_lon) %></td>
                <td class="number-td small-td"><%= group.members %></td>
                <td class="icon-td"><%= link_to(admin_path(group)) do %><i class="fa fa-eye"></i><% end %></td></td>
                <td class="icon-td"><%= link_to(edit_admin_path(group)) do %><i class="fa fa-pencil"></i><% end %></td>
                <td class="icon-td"><%= link_to(admin_url(group),
                    method: :delete,
                    data: { confirm: 'Are you sure you wish to delete this item?' }) do %><i class="fa fa-trash-o"></i><% end %>
                </td>
            </tr>
            <% end %>
            </tbody>
        </table>
    </div>
    <div id="submittedgroups" class="col s12">
        <table class="bordered highlight" id="pending-review-table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Name</th>
                    <th>FB Group</th>
                    <th>FB Page</th>
                    <th>Website</th>
                    <th class="number-td">Lat</th>
                    <th class="number-td">Long</th>
                    <th class="number-td">Members</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            <% @userSubmittedGroups.each do |group| %>
            <tr id="row-<%= group.id %>" <%= if group.fb_group != nil && !group.fb_page && !group.website && (!group.centroid_lon || !group.centroid_lat || !group.members); "class=red-out"; end %>>
                <td class="email-td"><%= group.email %></td>
                <td class="name-td"><%= group.name %></td>
                <td class="link-td"><a target="_blank" href="<%= group.fb_group %>"><%= group.fb_group.nil? ? '' : group.fb_group.gsub("https://www.facebook.com/groups", "") %></a></td>
                <td class="link-td"><a target="_blank" href="<%= group.fb_page %>"><%= group.fb_page.nil? ? '' : group.fb_page.gsub("https://www.facebook.com/", "") %></a></td>
                <td class="link-td"><a target="_blank" href="<%= group.website %>"><%= group.website %></a></td>
                <td class="cord-td"><%= "%.3f" % group.centroid_lat %></td>
                <td class="cord-td"><%= "%.3f" % group.centroid_lon %></td>
                <td style="text-align: right; width: 115px;"><%= group.members %></td>
                <td class="icon-td"><%= link_to(edit_group_path(group)) do %><i class="fa fa-eye"></i><% end %></td>
                <td class="icon-td approve-action" id="<%= group.id %>"><a><i class="fa fa-check"></i></a></td>
                <td class="icon-td"><%= link_to(group_path(group),
                    method: :delete,
                    data: { confirm: 'Are you sure you wish to delete this item?' }) do %><i class="fa fa-trash-o"></i><% end %>
                </td>
            </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>
