<h1>Adminitrative Panel</h1>
<hr>
<h3>Active DB Objects</h3>

<%= link_to 'New Group', new_group_path %>

<table>
    <tr>
        <th>Name</th>
        <th>Cords</th>
        <th>Members</th>
        <th>Link</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <% @groups.each do |group| %>
    <tr>
        <td style="width: 10%;"><%= group.name %></td>
        <td style="width: 30%;"><%= group.cords %></td>
        <td style="width: 10%; text-align: center;"><%= group.members %></td>
        <td style="width: 29%;"><%= group.link %></td>
        <td style="width: 7%;"><%= link_to 'Show', group_path(group) %></td>
        <td style="width: 7%;"><%= link_to 'Edit', edit_group_path(group) %></td>
        <td style="width: 7%;"><%= link_to 'Delete', group_path(group),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>

</table>