<h1>New Group</h1>
<hr>
<div class="my-container">
    <div id="map">
        <a class="waves-effect waves-light btn" id="export">Export</a>
    </div>
    <%= simple_form_for @group, :url => admin_index_path do |f| %>
        <% if @group.errors.any? %>
            <div id="error_explanation">
                <h4>
                    <%= pluralize(@group.errors.count, "error") %> prohibited
                    this article from being saved:
                </h4>
                <ul>
                    <% @group.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <table>
        <tbody>
            <tr>
                <td style="width: 50%;">
                    <p id="nm">
                        <%= f.label :name %><br>
                        <%= f.text_field :name %>
                    </p>

                    <%= simple_fields_for :location do |l| %>
                        <p id="cd">
                            <%= l.label :lat, 'Latitude' %><br>
                            <%= l.text_field :lat %>
                        </p>
                        <p id="cd">
                            <%= l.label :lon, 'Longitude' %><br>
                            <%= l.text_field :lon %>
                        </p>
                    <% end %>

                    <p id="nm">
                        <div class="input-field col s6">
                            <%= f.input :group_type, label: false, :collection => ['facebook group', 'facebook page', 'website'] %>
                        </div>
                    </p>
                </td>
                <td style="width: 50%;">
                    <%= simple_fields_for :info do |i| %>
                        <p id="mm">
                            <%= i.label :members %><br>
                            <%= i.text_field :members %>
                        </p>

                        <p id="lk">
                            <%= i.label :link, 'Link to group' %><br>
                            <%= i.text_field :link %>
                        </p>
                        
                        <br>
                        <p>
                            <%= i.check_box :is_regional, id:'groupRegional' %>
                            <%= i.label 'Regional?', for: 'groupRegional', id: 'groupRegional' %>
                        </p>
                    <% end %>
                </td>
            </tr>
        </tbody>
        </table>

        <p>
            <%= f.submit class: 'waves-effect waves-light btn' %>
        </p>

    <% end %>
</div>
<%= link_to 'Back', admin_index_path %>
<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic3ludGFmIiwiYSI6ImNqM2Z2bzZhbTAxZWwycW4wcmI5cjk4MW0ifQ.YOd5yuJfLARC2oOfqY-KoA'
    var map = new mapboxgl.Map({
        center: [-20, 45],
        zoom: 1.5,
        container: 'map',
        style: 'mapbox://styles/syntaf/cj3rys2fx000q2qodb7zlbh2v'
    });
    var draw = new MapboxDraw({
        displayControlsDefault: false,
        controls: {
            point: true,
            trash: true
        }
    });
    map.addControl(draw);
    var lon = $('#location_lon').val();
    var lat = $('#location_lat').val();
    console.log(lon, lat);
    if(lon && lat) {
        map.on('load', function() {
            map.addLayer({
                id: 'group-location',
                type: 'circle',
                source: {
                    type: 'geojson',
                    data: {
                        type: 'Feature',
                        geometry: {
                            type: 'Point',
                            coordinates: [lon, lat]
                        }
                    }
                },
                layout: {},
                paint: {
                    "circle-radius": 6,
                    "circle-color": "#B42222"
                }
            });
        });

        $('.mapbox-gl-draw_trash').click(function() {
            map.setLayoutProperty('group-location', 'visibility', 'none');
            $('#location_lon').val('');
            $('#location_lat').val('');
        });
    }
    $('#export').click(function() {
        var data = draw.getAll();
        $('#location_lat').val(data.features[0].geometry.coordinates[1]);
        $('#location_lon').val(data.features[0].geometry.coordinates[0]);
    });
</script>