<p>
    <strong>Group Name:</strong>
    <%= @group.name %>
</p>

<p>
    <strong>Coordinates:</strong>
    <%= @group.cords %>
    <ul>
        <% @group.cords.each do |cord| %>
            <li><%= cord %></li>
        <% end %>
    </ul>
</p>

<p>
    <strong>Members:</strong>
    <%= @group.members %>
</p>

<%= link_to 'Groups', admin_index_path %>