<%= form_for @group do |f| %>
    <% if @group.errors.any? %>
        <div id="error_explanation">
            <h4>
                <%= pluralize(@group.errors.count, "error") %> prohibited
                this article from being saved:
            </h4>
            <ul>
                <% @group.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.label :cords %><br>
        <input type="text" name="group[cords]" id="group_cords" value="<%= @group.cords %>">
    </p>

    <p>
        <%= f.label :members %><br>
        <%= f.text_field :members %>
    </p>

    <p>
        <%= f.label :link %><br>
        <%= f.text_field :link %>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>