<!DOCTYPE html>
<html>
  <head>
    <title>Slacklinegroups</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= yield :meta %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=document.createElement("script");r.type="text/javascript",r.async=!0,r.src="https://cdn.heapanalytics.com/js/heap-"+e+".js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(r,a);for(var n=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],o=0;o<p.length;o++)heap[p[o]]=n(p[o])};
      <% if Rails.env.development? %>
        heap.load("2346243013");
      <% else %>
        heap.load("3385514042");
      <% end %>
    </script>


    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_include_tag 'https://api.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.js' %>
    <%= stylesheet_link_tag 'https://api.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.css' %>
    <!-- Raleway font style -->
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway|Roboto' %>
    <!-- Global application js and css files -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Page specific css files -->
    <%= stylesheet_link_tag params[:controller] if Rails.application.assets_manifest.assets["#{params[:controller]}.css"] %>
    <%= javascript_include_tag 'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v0.18.0/mapbox-gl-draw.js' %>
    <%= stylesheet_link_tag 'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v0.18.0/mapbox-gl-draw.css' %>
    <script>
      <%= javascript_variables %>
    </script>
  </head>

  <body data-no-turbolink>
    <%= yield %>
    <!-- Page specific js files -->
    <%= javascript_include_tag params[:controller] if Rails.application.assets_manifest.assets["#{params[:controller]}.js"] %>
  </body>
</html>
