<!DOCTYPE html>
<html>
  <head>
    <title>Slacklinegroups</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js' %>
    <%= stylesheet_link_tag 'https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
